.card {
  border-color: #bd141b;
  border-radius: 6px;
  border-style: solid;

  font-family: inherit;
  font-size: 1rem;
}

.card img {
  max-width: 160px;
}

.short-name {
  font-weight: bold;
}

.born {
  font-size: 0.8rem;
}