.header {
  color: #bd141b;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-family: Bauer;
  font-size: 2rem;

  padding: 0.5rem 0;

  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo-container .logo {
  height: 3.2rem;
}

.instructions {
  font-size: 0.8rem;
}