.App {
  display: grid;
  grid-template-rows: 4rem 1rem 1fr 2rem;


  height: 100vh;

  text-align: center;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

