@font-face {
  font-family: Bauer;
  src: url("./assets/fonts/Bauer.ttf");
}

@font-face {
  font-family: Gruppo;
  src: url("./assets/fonts/Gruppo-Regular.ttf");
}

@font-face {
  font-family: Share;
  src: url("./assets/fonts/Share-Regular.ttf");
}

@font-face {
  font-family: ShareBold;
  src: url("./assets/fonts/Share-Bold.ttf");
}

body {
  font-family: Share,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
